body{
    background-color: yellow;
}
.eye {
 background-color:white;
 display: inline-block;
 width: 100px;
 height: 100px;
 margin: 20px
}
.pupil{
background-color: black;
width: 30px;
height: 30px; 
margin: 35px
}
.tooth{
background-color: white;
width: 20px;
height: 20px;
display: inline-block;
margin: 3px;
}
.mouth{
background-color: black;
width: 280px; 
height: 200px;
padding: 20px;
}
.tongue{
background-color: red;
height: 100px;
width: 60px;
margin: 3px;
display: inline-block;
}