 h1{
            background-color: white; 
            border-radius: 10%;
        }
body{
            font-family: Papyrus;
            background-color: lightskyblue; 
        }

.underline {
            text-decoration: underline;
        }

.list {
            background-color: lightblue;
            padding-top: 3%; 
            padding-bottom: 3%;
            border-radius: 5%; 
            margin-left: 10px; 
            margin-right: 10px; 
            
        }
img {
    border-radius: 25%; 
    display: block;
    margin: auto;  
    width: 400px; 
}

span {
    text-decoration: underline; 
}